@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.Header {
    width: 100vw;
    height: 8vh;
    background-color: rgb(255, 184, 53);
    display: flex;
    align-items : center;
}

.logo-section {
    width: 15vw;
    height: 8vh;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 1.5px;
    display: flex;
}

.logo-section p {
    margin: 1rem;
}

.searchbar-section {
    width: 55vw;
    height: 8vh;
    display: flex;
    align-items : center;
}

.account-section {
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items : center;
}

.search-input-field {
    height: 50%;
    width: 65%;
    border: none; /* <-- This thing here */
    border:solid 1px #ccc;
    border-radius: 20px;
    padding-left: 15px;
    font-size: .8rem;
    margin-left: 5px;
}

.search-input-field:focus {
    outline: none;
}

.search-icon {
    margin-left: 5px;
}

.category-icon {
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    margin-top: 1.2vh;
}

p {
    font-weight: 100;
    font-family: sans-serif;
    color: black;
}

.header-text, .shopping-cart-icon, .wishlist-icon {
    cursor: pointer;
    margin-left: 1rem;
}

.header-text:hover {
    color:rgb(71, 71, 71);
    transition: .3s;
}

.sign-up-or-in-btn {
    margin-left: 1rem;
    vertical-align: middle;
    font-family: sans-serif;
    width: 5vw;
    height: 4vh;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: 550;
    border: .5px solid black;
    position: relative;
    cursor: pointer;
}

.sign-up-or-in-btn:hover {
    background-color: rgb(236, 236, 236);
    transition: .3s;
}

.sign-in-or-up-box {
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.13);
    float: left;
    position: absolute;
}